Walmart.Core/xsds/v3/ClothingCategory.xsd

<?xml version="1.0" ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://walmart.com/content" version="3.0" xmlns:wm="http://walmart.com/content" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ContentCommons.xsd"/>
  <xsd:complexType name="ClothingCategory">
    <xsd:choice maxOccurs="1" minOccurs="0">
      <xsd:element name="Clothing" type="wm:Clothing"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Clothing">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="shortDescription">
        <xsd:annotation>
          <xsd:documentation>Overview of the key selling points of the item, marketing content, and highlights in paragraph form. For SEO purposes, repeat the product name and relevant keywords here.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Required"/>
            <wm:displayName>Description</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>8000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="keyFeatures" type="wm:KeyFeatures">
        <xsd:annotation>
          <xsd:documentation>Key features will appear as bulleted text on the item page and in search results. Key features help the user understand the benefits of the product with a simple and clean format. We highly recommended using three or more key features.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Recommended"/>
            <wm:displayName>Key Features</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>9000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="unitsPerConsumerUnit">
        <xsd:annotation>
          <xsd:documentation>The number of units in the item being offered for sale, such that each unit is packaged for individual sale and has a scannable bar code. Examples of Package Count: (1) A product containing a single package of 3 T-shirts has a &quot;Package Count&quot; of 1. (2) A product containing 2 packages each with 3 T-shirts has a &quot;Package Count&quot; of 2. (3) A product containing 2 packages of 36 count diapers has a &quot;Package Count&quot; of 2.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Recommended"/>
            <wm:displayName>Package Count</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>10000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="brand">
        <xsd:annotation>
          <xsd:documentation>Name, term, design or other feature that distinguishes one seller's product from those of others. This can be the name of the company associated with the product, but not always. If item does not have a brand, use &quot;Unbranded&quot;.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Brand</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>11000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="manufacturer">
        <xsd:annotation>
          <xsd:documentation>Manufacturer is the maker of the product. This is the name of the company that produces the product, not necessarily the brand name of the item. For some products, the manufacturer and the brand may be the same.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Manufacturer</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>12000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="manufacturerPartNumber">
        <xsd:annotation>
          <xsd:documentation>MPN uniquely identifies the product to its manufacturer. For many products this will be identical to the model number. Some manufacturers distinguish part number from model number. Having this information allows customers to search for items on the site and informs product matching.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Manufacturer Part Number</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>13000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="modelNumber">
        <xsd:annotation>
          <xsd:documentation>Model numbers allow manufacturers to keep track of each hardware device and identify or replace the proper part when needed. Model numbers are often found on the bottom, back, or side of a product. Having this information allows customers to search for items on the site and informs product matching.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Model Number</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>14000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="seasonCode">
        <xsd:annotation>
          <xsd:documentation>Enter the Code for the apparel season: 0 - Basic; 1 - Spring; 2 - Summer; 3 - BTS/Fall; 4 - Winter</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Season Code</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>15000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="10"/>
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="seasonYear">
        <xsd:annotation>
          <xsd:documentation>The four-digit year.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Season Year</wm:displayName>
            <wm:group>Basic</wm:group>
            <wm:rank>15500</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="mainImageUrl">
        <xsd:annotation>
          <xsd:documentation>Main image of the item. Image URL must end in the file name. Image URL must be static and have no redirections. Preferred file type: JPEG Accepted file types: JPG, PNG, GIF, BMP Recommended image resolution: 3000 x 3000 pixels at 300 ppi. Minimum image size requirements: Zoom capability: 2000 x 2000 pixels at 300 ppi. Non-zoom minimum: 500 x 500 pixels at 72 ppi. Maximum file size: 2 MB.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Main Image URL</wm:displayName>
            <wm:group>Images</wm:group>
            <wm:rank>16000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:anyURI"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="productSecondaryImageURL" type="wm:ProductSecondaryImageURL">
        <xsd:annotation>
          <xsd:documentation>Secondary images of the item. Image URL must end in the file name. Image URL must be static and have no redirections. Preferred file type: JPEG Accepted file types: JPG, PNG, GIF, BMP Recommended image resolution: 3000 x 3000 pixels at 300 ppi. Minimum image size requirements: Zoom capability: 2000 x 2000 pixels at 300 ppi. Non-zoom minimum: 500 x 500 pixels at 72 ppi. Maximum file size: 2 MB.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Additional Image URL</wm:displayName>
            <wm:group>Images</wm:group>
            <wm:rank>17000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="color" type="wm:Color">
        <xsd:annotation>
          <xsd:documentation>Color as described by the manufacturer.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Color</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>19000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="colorCategory">
        <xsd:annotation>
          <xsd:documentation>Select the color from a short list that best describes the general color of the item. This improves searchability as it allows customers to view items by color from the left navigation when they perform a search.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Color Category</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>20000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="colorCategoryValue">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Beige"/>
                  <xsd:enumeration value="Black"/>
                  <xsd:enumeration value="Blue"/>
                  <xsd:enumeration value="Bronze"/>
                  <xsd:enumeration value="Brown"/>
                  <xsd:enumeration value="Clear"/>
                  <xsd:enumeration value="Gold"/>
                  <xsd:enumeration value="Gray"/>
                  <xsd:enumeration value="Green"/>
                  <xsd:enumeration value="Multi-color"/>
                  <xsd:enumeration value="Off-White"/>
                  <xsd:enumeration value="Orange"/>
                  <xsd:enumeration value="Pink"/>
                  <xsd:enumeration value="Purple"/>
                  <xsd:enumeration value="Red"/>
                  <xsd:enumeration value="Silver"/>
                  <xsd:enumeration value="White"/>
                  <xsd:enumeration value="Yellow"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="pattern" type="wm:Pattern">
        <xsd:annotation>
          <xsd:documentation>Decorative design or visual ornamentation, often with a thematic, recurring motif.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Pattern</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>21000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="material" type="wm:Material">
        <xsd:annotation>
          <xsd:documentation>The main material(s) that a product is made of. This does not need to be an exhaustive list, but should contain the predominant or functionally important material/materials. Fabric material specifics should be entered using the &quot;Fabric Content&quot; attribute.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Material</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>22000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="gender">
        <xsd:annotation>
          <xsd:documentation>Indicate whether this item is meant for a particular gender or meant to be gender-agnostic (unisex).</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Recommended"/>
            <wm:displayName>Gender</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>23000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Male"/>
            <xsd:enumeration value="Female"/>
            <xsd:enumeration value="Unisex"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ageGroup">
        <xsd:annotation>
          <xsd:documentation>General grouping of ages into commonly used demographic labels.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Recommended"/>
            <wm:displayName>Age Group</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>24000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="ageGroupValue">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Child"/>
                  <xsd:enumeration value="Tween"/>
                  <xsd:enumeration value="Teen"/>
                  <xsd:enumeration value="Adult"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="clothingSizeGroup">
        <xsd:annotation>
          <xsd:documentation>The common sizing groups used by the retail clothing industry.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Recommended"/>
            <wm:displayName>Clothing Size Group</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>25000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Big &amp; Tall"/>
            <xsd:enumeration value="Boys"/>
            <xsd:enumeration value="Girls"/>
            <xsd:enumeration value="Girls' Plus"/>
            <xsd:enumeration value="Husky"/>
            <xsd:enumeration value="Junior Plus"/>
            <xsd:enumeration value="Juniors"/>
            <xsd:enumeration value="Maternity"/>
            <xsd:enumeration value="Maternity Plus"/>
            <xsd:enumeration value="Men"/>
            <xsd:enumeration value="Petite"/>
            <xsd:enumeration value="Petite Plus"/>
            <xsd:enumeration value="Women's Plus"/>
            <xsd:enumeration value="Women"/>
            <xsd:enumeration value="Young Men’s"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="clothingSize">
        <xsd:annotation>
          <xsd:documentation>Clothing size as it appears on the garment label. Use this attribute for general sizes (S, M, L) as well as general numbered sizes (2, 4, 6, etc). For items that have unique sizes (dress shirts, bras, etc.) use the specific size attribute.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Clothing Size</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>26000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="count">
        <xsd:annotation>
          <xsd:documentation>The total number of items included in the package or box. Examples: (1) A product that contains a single package of 3 T-shirts has a &quot;Count&quot; of 3. (2) A product that contains two packages of 36 count diapers has a &quot;Count&quot; of 72. (3) A single container of vitamins with 200 pills has a &quot;Count&quot; of 200.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Recommended"/>
            <wm:displayName>Count</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>27000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="isSet">
        <xsd:annotation>
          <xsd:documentation>Y indicates that the product consists of two or more different items sold together as a set. Example: A bedding set that includes sheets, pillow shams, and a comforter.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Is Set</wm:displayName>
            <wm:group>Discoverability</wm:group>
            <wm:rank>28000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="isPrivateLabelOrUnbranded">
        <xsd:annotation>
          <xsd:documentation>Products with brand names solely owned and registered by Walmart.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Is Private Label</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>40500</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="exclusiveBrandsIndicator">
        <xsd:annotation>
          <xsd:documentation>Products with brand names sold exclusively at Walmart. This includes derivative brands of national brands.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Is Exclusive Brand</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>40600</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="isProp65WarningRequired">
        <xsd:annotation>
          <xsd:documentation>Selecting &quot;Y&quot; indicates the product requires California's Proposition 65 special warning. Proposition 65 entitles California consumers to special warnings for products that contain chemicals known to the state of California to cause cancer and birth defects or other reproductive harm if certain criteria are met (such as quantity of chemical contained in the product). See the portions of the California Health and Safety Code related to Proposition 65 for more information.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Is Prop 65 Warning Required</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>41000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="prop65WarningText">
        <xsd:annotation>
          <xsd:documentation>This is a particular statement legally required by the State of California for certain products to warn consumers about potential health dangers. See the portions of the California Health and Safety Code related to Proposition 65 to see what products require labels and to verify the text of your warning label.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Conditionally Required"/>
            <wm:conditionalAttributes>
              <wm:conditionalAttribute name="isProp65WarningRequired" value="Yes"/>
            </wm:conditionalAttributes>
            <wm:displayName>Prop 65 Warning Text</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>42000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="smallPartsWarnings">
        <xsd:annotation>
          <xsd:documentation>To determine if any choking warnings are applicable, check current product packaging for choking warning message(s). Please indicate the warning number (0-6). 0 - No warning applicable; 1 - Choking hazard is a small ball; 2 - Choking hazard contains small ball; 3 - Choking hazard contains small parts; 4 - Choking hazard balloon; 5 - Choking hazard is a marble; 6 - Choking hazard contains a marble.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Small Parts Warning Code</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>43000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="smallPartsWarning">
              <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="1"/>
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
                  <xsd:enumeration value="4"/>
                  <xsd:enumeration value="5"/>
                  <xsd:enumeration value="6"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="requiresTextileActLabeling">
        <xsd:annotation>
          <xsd:documentation>Select &quot;Y&quot; if your item contains wool or is one of the following: clothing (except for hats and shoes), handkerchiefs, scarves, bedding (including sheets, covers, blankets, comforters, pillows, pillowcases, quilts, bedspreads and pads (but not outer coverings for mattresses or box springs)), curtains and casements, draperies, tablecloths, napkins, doilies, floor coverings (rugs, carpets and mats), towels, washcloths, dishcloths, ironing board covers and pads, umbrellas, parasols, bats or batting, flags with heading or that are bigger than 216 square inches, cushions, all fibers, yarns and fabrics (but not packaging ribbons), furniture slip covers and other furniture covers, afghans and throws, sleeping bags, antimacassars (doilies), hammocks, dresser and other furniture scarves. For further information on these requirements, refer to the labeling requirements of the Textile Act. </xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Requires Textile Act Labeling</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>44000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="countryOfOriginTextiles">
        <xsd:annotation>
          <xsd:documentation>Use “Made in U.S.A. and Imported” to indicate manufacture in the U.S. from imported materials, or part processing in the U.S. and part in a foreign country. Use “Made in U.S.A. or Imported” to reflect that some units of an item originate from a domestic source and others from a foreign source. Use “Made in U.S.A.” only if all units were made completely in the U.S. using materials also made in the U.S. Use &quot;Imported&quot; if units are completely imported.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Conditionally Required"/>
            <wm:conditionalAttributes>
              <wm:conditionalAttribute name="requiresTextileActLabeling" value="Yes"/>
            </wm:conditionalAttributes>
            <wm:displayName>Country of Origin - Textiles</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>45000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="USA"/>
            <xsd:enumeration value="Imported"/>
            <xsd:enumeration value="USA and Imported"/>
            <xsd:enumeration value="USA or Imported"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasBatteries">
        <xsd:annotation>
          <xsd:documentation>Mark &quot;Y&quot; if batteries are included with this product. NOTE: This includes both separate batteries (e.g. some toys) and integrated rechargeable batteries (e.g. some electronics)</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Contains Batteries</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>46000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="batteryTechnologyType">
        <xsd:annotation>
          <xsd:documentation>Please select the Battery Technology Type from the list provided. NOTE: If battery type is lead acid, lead acid (nonspillable), lithium ion, or lithium metal, the item requires a hazardous materials risk assessment via WERCS.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Conditionally Required"/>
            <wm:conditionalAttributes>
              <wm:conditionalAttribute name="hasBatteries" value="Yes"/>
            </wm:conditionalAttributes>
            <wm:displayName>Contained Battery Type</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>47000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Does Not Contain a Battery"/>
            <xsd:enumeration value="Alkaline"/>
            <xsd:enumeration value="Carbon Zinc"/>
            <xsd:enumeration value="Lead Acid"/>
            <xsd:enumeration value="Lead Acid (Nonspillable)"/>
            <xsd:enumeration value="Lithium Primary (Lithium Metal)"/>
            <xsd:enumeration value="Lithium Ion"/>
            <xsd:enumeration value="Magnesium"/>
            <xsd:enumeration value="Mercury"/>
            <xsd:enumeration value="Nickel Cadmium"/>
            <xsd:enumeration value="Nickel Metal Hydride"/>
            <xsd:enumeration value="Silver"/>
            <xsd:enumeration value="Thermal"/>
            <xsd:enumeration value="Other"/>
            <xsd:enumeration value="Multiple Types"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasWarranty">
        <xsd:annotation>
          <xsd:documentation>Y indicates the item comes with a warranty. If an item has a warranty, then enter EITHER the warranty URL or the warranty text in the appropriate field.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Has Warranty</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>48000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="warrantyURL">
        <xsd:annotation>
          <xsd:documentation>If you indicated that your item has a warranty, provide either the Warranty URL or Warranty Text. The Warranty URL is the web location of the image, PDF, or link to the manufacturer's warranty page, showing the warranty and its terms, including the duration of the warranty. URLs must begin with http:// or https:// NOTE: Please remember to update the link and/or text of the warranty as the warranty changes. If supplying an image, provide the final destination image URL (no-redirects) that is publicly accessible (no username/password required) and ends in a proper image extension. Recommended file type: JPEG Accepted file types: JPG, PNG, GIF, BMP Maximum file size: 2 GB. If the Ingredients have been included in another image, you may repeat the URL here. </xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Warranty URL</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>49000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:anyURI"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="warrantyText">
        <xsd:annotation>
          <xsd:documentation>If you marked Y for &quot;Has Warranty&quot; provide the Warranty URL or Warranty Text (the full text of the warranty terms, including what is covered by the warranty and the duration of the warranty). NOTE: please remember to update the text of your warranty as your warranty changes.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Conditionally Required"/>
            <wm:conditionalAttributes>
              <wm:conditionalAttribute name="warrantyURL" value="null"/>
              <wm:conditionalAttribute name="hasWarranty" value="Yes"/>
            </wm:conditionalAttributes>
            <wm:displayName>Warranty Text</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>50000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="hasStateRestrictions">
        <xsd:annotation>
          <xsd:documentation>Select Y if your product needs to be prohibited from sale in any State or Zip Codes. Please note that it is your obligation to understand and inform Walmart of any laws, regulations, ordinances, etc. that would prohibit or restrict your product from being sold in a specific State or Zip Code. Examples: To comply with California energy efficiency requirements, certain lamps sold to California customers must include an energy efficient CFL or LED bulb with the product; if the product is not sold with an energy efficient light bulb, then the product must be restricted for sale in California. Additional State restrictions may be required if the products do not meet California or Colorado’s water efficiency requirements for products such as faucets and shower heads.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Has State Restrictions</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>51000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="stateRestrictions" type="wm:StateRestrictions">
        <xsd:annotation>
          <xsd:documentation>Group of attributes to capture information when there are restrictions (legal or supplier discretion) prohibiting an item's sale.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Conditionally Required"/>
            <wm:conditionalAttributes>
              <wm:conditionalAttribute name="hasStateRestrictions" value="Yes"/>
            </wm:conditionalAttributes>
            <wm:displayName>State Restrictions</wm:displayName>
            <wm:group>Compliance</wm:group>
            <wm:rank>52000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="clothingTopStyle" type="wm:ClothingTopStyle">
        <xsd:annotation>
          <xsd:documentation>Style terms descriptive of clothing tops.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Clothing Top Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>59000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="dressShirtSize">
        <xsd:annotation>
          <xsd:documentation>A grouping of sizes for dress shirts based on collar measurement and sleeve measurement.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Dress Shirt Size</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>59500</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sleeveStyle">
        <xsd:annotation>
          <xsd:documentation>Descriptive terms for the style of garment sleeves. Does not include descriptive terms for sleeve length (which appear under the Sleeve Length Style attribute).</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sleeve Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>62000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sleeveLengthStyle">
        <xsd:annotation>
          <xsd:documentation>Descriptive terms for sleeve length.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sleeve Length Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>63000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Short Sleeve"/>
            <xsd:enumeration value="Long Sleeve"/>
            <xsd:enumeration value="Sleeveless"/>
            <xsd:enumeration value="1/4 Sleeve"/>
            <xsd:enumeration value="3/4 Sleeve"/>
            <xsd:enumeration value="Elbow-Length"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="shirtNeckStyle">
        <xsd:annotation>
          <xsd:documentation>A garment's neckline or neck style.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Clothing Neck Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>64000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="collarType">
        <xsd:annotation>
          <xsd:documentation>Style of collar, as expressed by shape or design.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Collar Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>65000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="jacketStyle" type="wm:JacketStyle">
        <xsd:annotation>
          <xsd:documentation>Styles specific to coats and jackets.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Jacket Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>66000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="suitBreastingStyle">
        <xsd:annotation>
          <xsd:documentation>The closure style of a suit jacket or coat; double-breasted suits have more fabric where they overlap in front and commonly have 2 rows of buttons.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Suit Breasting Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>67000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="double-breasted"/>
            <xsd:enumeration value="single-breasted"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sweaterStyle" type="wm:SweaterStyle">
        <xsd:annotation>
          <xsd:documentation>Styles specific to sweaters.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sweater Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>68000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="scarfStyle" type="wm:ScarfStyle">
        <xsd:annotation>
          <xsd:documentation>Styles specific to scarves.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Scarf Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>69000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="upperBodyStrapConfiguration" type="wm:UpperBodyStrapConfiguration">
        <xsd:annotation>
          <xsd:documentation>Strap configuration style for bras, swimsuit tops, leotards and other clothing tops.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Upper Body Strap Configuration</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>70000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="hatSize">
        <xsd:annotation>
          <xsd:documentation>The sizing information specific to hats, ranging from 6 1/4 to 8 1/8. Generic sized (small/med/large) hats may not have this information (generic s/m/l size information should be entered under the &quot;Clothing Size&quot; attribute).</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Hat Size</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>71000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="6 1/4"/>
            <xsd:enumeration value="6 3/8"/>
            <xsd:enumeration value="6 1/2"/>
            <xsd:enumeration value="6 5/8"/>
            <xsd:enumeration value="6 3/4"/>
            <xsd:enumeration value="6 7/8"/>
            <xsd:enumeration value="7"/>
            <xsd:enumeration value="7 1/8"/>
            <xsd:enumeration value="7 1/4"/>
            <xsd:enumeration value="7 3/8"/>
            <xsd:enumeration value="7 1/2"/>
            <xsd:enumeration value="7 5/8"/>
            <xsd:enumeration value="7 3/4"/>
            <xsd:enumeration value="7 7/8"/>
            <xsd:enumeration value="8"/>
            <xsd:enumeration value="8 1/8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="hatStyle" type="wm:HatStyle">
        <xsd:annotation>
          <xsd:documentation>Styles specific to hats.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Hat Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>72000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="braStyle" type="wm:BraStyle">
        <xsd:annotation>
          <xsd:documentation>Brassiere styles/defining features. Enter as many as are relevant to the bra. Do not enter strap styles here. To enter descriptive terms for strap styles, please use the &quot;Upper Body Strap Configuration&quot; attribute.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Bra Style</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>73000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="braSize">
        <xsd:annotation>
          <xsd:documentation>Bra size, consisting of band and cup. Use this attribute if the garment has both measurements. If the bra has standard clothing sizes (e.g. S, M, L), enter the size under &quot;Clothing Size&quot;.  NOTE: for garments that have chest size (measured as the largest part of the chest, i.e. some women's slips), use &quot;Chest Size&quot;.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Bra Size</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>74000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="chestSize">
        <xsd:annotation>
          <xsd:documentation>Chest measurement in inches, around the largest part of the chest. Often used for men's jackets and women's full slips.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Chest Size</wm:displayName>
            <wm:group>Upper Body Features</wm:group>
            <wm:rank>77000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="measure">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="unit">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="in"/>
                  <xsd:enumeration value="cm"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="pantRise">
        <xsd:annotation>
          <xsd:documentation>The height at which the waistline rests on the body.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Waist Rise</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>80000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="waistStyle" type="wm:WaistStyle">
        <xsd:annotation>
          <xsd:documentation>Waist styles/defining features.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Waist Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>80500</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="waistSize">
        <xsd:annotation>
          <xsd:documentation>Waist measurement in inches, around the smallest section of the natural waist (typically located just above the belly button).</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Waist Size</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>80750</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="measure">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="unit">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="in"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="pantySize">
        <xsd:annotation>
          <xsd:documentation>Panty size. Generic sized (small/med/large) panties may not have this information (generic s/m/l size information should be entered under the &quot;Clothing Size&quot; attribute). Clothing size style values (Plus Size, Petite, Juniors, etc) should be entered under the &quot;Clothing Size Style&quot; attribute.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Panty Size</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>81000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
            <xsd:enumeration value="7"/>
            <xsd:enumeration value="8"/>
            <xsd:enumeration value="9"/>
            <xsd:enumeration value="10"/>
            <xsd:enumeration value="11"/>
            <xsd:enumeration value="12"/>
            <xsd:enumeration value="13"/>
            <xsd:enumeration value="14"/>
            <xsd:enumeration value="15"/>
            <xsd:enumeration value="16"/>
            <xsd:enumeration value="17"/>
            <xsd:enumeration value="18"/>
            <xsd:enumeration value="19"/>
            <xsd:enumeration value="20"/>
            <xsd:enumeration value="21"/>
            <xsd:enumeration value="22"/>
            <xsd:enumeration value="23"/>
            <xsd:enumeration value="24"/>
            <xsd:enumeration value="25"/>
            <xsd:enumeration value="26"/>
            <xsd:enumeration value="27"/>
            <xsd:enumeration value="28"/>
            <xsd:enumeration value="29"/>
            <xsd:enumeration value="30"/>
            <xsd:enumeration value="31"/>
            <xsd:enumeration value="32"/>
            <xsd:enumeration value="33"/>
            <xsd:enumeration value="34"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="skirtLength">
        <xsd:annotation>
          <xsd:documentation>The measurement of the skirt, from waist to bottom hem, in inches.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Skirt Length</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>82000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="measure">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="unit">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="in"/>
                  <xsd:enumeration value="cm"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="legOpeningCut">
        <xsd:annotation>
          <xsd:documentation>How high on the body the leg opening sits. Commonly referenced for leotards, swimwear, underwear or other legless garments. </xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Leg Opening Cut</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>83000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="high-cut"/>
            <xsd:enumeration value="regular"/>
            <xsd:enumeration value="below hip"/>
            <xsd:enumeration value="at hip"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="pantLegCut">
        <xsd:annotation>
          <xsd:documentation>Common style terms describing how the garment leg has been cut to make a specific sillhoutte/shape.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Pant Leg Cut</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>84000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="jeanStyle" type="wm:JeanStyle">
        <xsd:annotation>
          <xsd:documentation>Style terms specific to jeans.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Jean Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>85000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="jeanWash">
        <xsd:annotation>
          <xsd:documentation>Description of post-process wash treatment effecting the appearance of dye and fabric texture, specific to jeans.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Jean Wash</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>86000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="jeanFinish" type="wm:JeanFinish">
        <xsd:annotation>
          <xsd:documentation>Fabric finishes specific to jeans.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Jean Finish</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>87000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="pantSize">
        <xsd:annotation>
          <xsd:documentation>A composite of Waist Size and Inseam. Do not fill in this attribute if you have separately filled in both &quot;Waist Size&quot; and &quot;Inseam&quot;. If the pant size is in numbers (e.g. 12) or standard sizes (e.g. Large), enter the information under &quot;Clothing Size&quot;.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Pant Size</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>87500</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="pantFit" type="wm:PantFit">
        <xsd:annotation>
          <xsd:documentation>Terms that describe the way pants will fit when worn.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Pant Fit</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>88000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="pantStyle">
        <xsd:annotation>
          <xsd:documentation>Style terms specific to pants.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Pant Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>89000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="beltStyle" type="wm:BeltStyle">
        <xsd:annotation>
          <xsd:documentation>Styles specific to belts.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Belt Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>91000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="beltBuckleStyle">
        <xsd:annotation>
          <xsd:documentation>Belt buckle configurations.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Belt Buckle Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>92000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="pantyStyle">
        <xsd:annotation>
          <xsd:documentation>Descriptive styles common to underwear bottoms and lower body elements of swimwear and leotards.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Underpant/Swim Bottom Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>93000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="shortsStyle" type="wm:ShortsStyle">
        <xsd:annotation>
          <xsd:documentation>Styles specific to shorts.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Shorts Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>94000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="skirtAndDressCut" type="wm:SkirtStyle">
        <xsd:annotation>
          <xsd:documentation>Terms describing a garment's skirt style, applicable to dresses and skirt products.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Skirt Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>95000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="skirtLengthStyle">
        <xsd:annotation>
          <xsd:documentation>Descriptive terms for length specific to skirts and dresses.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Skirt Length Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>96000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="hosieryStyle" type="wm:HosieryStyle">
        <xsd:annotation>
          <xsd:documentation>Styles/features specific to tights and hosiery.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Hosiery Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>97000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="tightsSheerness">
        <xsd:annotation>
          <xsd:documentation>Sheerness/opacities specific to tights and hosiery.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sheerness</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>98000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="opaque"/>
            <xsd:enumeration value="semi-opaque"/>
            <xsd:enumeration value="sheer"/>
            <xsd:enumeration value="thick opaque"/>
            <xsd:enumeration value="ultra-sheer"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="underwearStyle" type="wm:UnderwearStyle">
        <xsd:annotation>
          <xsd:documentation>Descriptive styles specific to underwear.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Underwear Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>99000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sockSize">
        <xsd:annotation>
          <xsd:documentation>Sock size. Generic sized (small/med/large) socks may not have this information (generic s/m/l size information should be entered under the clothing size attribute).</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sock Size</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>100000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sockStyle">
        <xsd:annotation>
          <xsd:documentation>Styles specific to socks. Does not include descriptive terms for sock height - those are in the Sock Rise attribute.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sock Style</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>101000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sockRise">
        <xsd:annotation>
          <xsd:documentation>Descriptive terms for sock height.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sock Rise</wm:displayName>
            <wm:group>Lower Body Features</wm:group>
            <wm:rank>102000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="thigh-high"/>
            <xsd:enumeration value="knee-high"/>
            <xsd:enumeration value="crew"/>
            <xsd:enumeration value="quarter"/>
            <xsd:enumeration value="low-cut"/>
            <xsd:enumeration value="no-show"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="fabricContent" type="wm:FabricContent">
        <xsd:annotation>
          <xsd:documentation>Material makeup of the item.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Recommended"/>
            <wm:displayName>Fabric Content</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>104000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="fabricCareInstructions" type="wm:FabricCareInstructions">
        <xsd:annotation>
          <xsd:documentation>Describes how the fabric should be cleaned. Enter details of the fabric care label found on the item. (For garments, typically located inside on the top of the back or the lower left side.)</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Fabric Care Instructions</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>107000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="clothingWeight">
        <xsd:annotation>
          <xsd:documentation>Commonly used in retail clothing, these terms describe the density or weight of fabric material.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Clothing Weight</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>108000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="lightweight"/>
            <xsd:enumeration value="mid-weight"/>
            <xsd:enumeration value="heavyweight"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="clothingStyle" type="wm:ClothingStyle">
        <xsd:annotation>
          <xsd:documentation>Styles and designations that apply generally to various types of clothing.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Clothing Style</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>109000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="clothingFit">
        <xsd:annotation>
          <xsd:documentation>Terms that describe the way a garment will fit when worn. Does not include fit values specific to pants.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Clothing Fit</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>110000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="clothingCut" type="wm:ClothingCut">
        <xsd:annotation>
          <xsd:documentation>Common clothing cut styles.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Clothing Cut</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>111000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="clothingLengthStyle">
        <xsd:annotation>
          <xsd:documentation>Descriptive terms for where on the lower-body a garment ends.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Clothing Length Style</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>112000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="fastenerType">
        <xsd:annotation>
          <xsd:documentation>The type of fastener used to keep a garment closed on the wearer and to facilitate putting on the garment.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Closure Type</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>113000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="swimsuitStyle">
        <xsd:annotation>
          <xsd:documentation>Descriptive styles common to swimwear. Style terms specific to the bottom half of swimwear appear under the Underpant/Swim Bottom Style attribute.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Swimsuit Style</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>114000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="dressStyle">
        <xsd:annotation>
          <xsd:documentation>Style terms specific to dresses. Other style terms that specifically describe a dress's skirt may be found under the Skirt Style attribute. Some values are shared between skirts and dresses: both &quot;mini&quot; dresses and &quot;mini&quot; skirts exist as separate products.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Dress Style</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>115000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="gotsCertification">
        <xsd:annotation>
          <xsd:documentation>Y indicates the product is certified under requirements of the Global Organic Textile Standard.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>GOTS Certification</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>116000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="theme" type="wm:Theme">
        <xsd:annotation>
          <xsd:documentation>A dominant idea, meaning, or setting applied to an item. Used in a wide range of products including decorative objects, clothing, toys, and furniture. Can be an important selection criteria for consumers who want to achieve a particular ambiance for room décor or for a special occasion.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Theme</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>117000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="character" type="wm:Character">
        <xsd:annotation>
          <xsd:documentation>A person or entity portrayed in print or visual media. A character might be a fictional personality or an actual living person.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Character</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>118000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="globalBrandLicense" type="wm:BrandLicense">
        <xsd:annotation>
          <xsd:documentation>A brand name that is not owned by the product brand, but is licensed for the particular product. (Often character and media tie-ins and promotions.)</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Brand License</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>119000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sportsLeague" type="wm:SportsLeague">
        <xsd:annotation>
          <xsd:documentation>If your item has any association with a specific sports league, enter the league name. Abbreviations are fine. NOTE: This attribute flags an item for inclusion in the online fan shop.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sports League</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>120000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sportsTeam" type="wm:SportsTeam">
        <xsd:annotation>
          <xsd:documentation>If your item has any association with a specific sports team, enter the team name. NOTE: This attribute flags an item for inclusion in the online fan shop.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sports Team</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>121000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="occasion" type="wm:Occasion">
        <xsd:annotation>
          <xsd:documentation>The particular target time, event, or holiday for the product.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Occasion</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>124000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="activity" type="wm:Activity">
        <xsd:annotation>
          <xsd:documentation>The general type of activity one might perform while wearing this garment.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Activity</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>125000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sport" type="wm:Sport">
        <xsd:annotation>
          <xsd:documentation>If the product is sports-related, the name of the specific sport depicted on the product, or the target sport for the product use</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sport</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>126000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="season" type="wm:Season">
        <xsd:annotation>
          <xsd:documentation>If designed to be used during a specific type of year, the appropriate season this item may be used.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Season</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>127000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="weather" type="wm:Weather">
        <xsd:annotation>
          <xsd:documentation>The type of weather the clothing or fashion accessory was designed for.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Weather</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>128000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="isMaternity">
        <xsd:annotation>
          <xsd:documentation>Is this item marketed specifically to women who are pregnant?</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Is Maternity</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
            <wm:rank>129000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="athlete" type="wm:Athlete">
        <xsd:annotation>
          <xsd:documentation>A well-known athlete associated with a product, if applicable. This is used to group items in Fan Shop, not to describe a line of clothing.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Athlete</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>129500</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="autographedBy">
        <xsd:annotation>
          <xsd:documentation>The full name of the person who has autographed this copy.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Autographed by</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>129750</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="braBandSize">
        <xsd:annotation>
          <xsd:documentation>A measurement in inches of the band of the bra, which fits around the ribcage just under the bust. Use this if the garment has a band size only or to separate band and cup size for search discovery.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Bra Band Size</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>130000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="measure">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="unit">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="in"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="braCupSize">
        <xsd:annotation>
          <xsd:documentation>A letter size to optimize bra fit, calculated by measuring the chest at its widest point and subtracting the bra band size. 1 inch corresponds to 1 cup letter (e.g. if the difference is 5, the bra cup size is DD or E). Use this to record separate cup sizes for search discovery.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Bra Cup Size</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>130500</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="neckSize">
        <xsd:annotation>
          <xsd:documentation>Neck size in inches.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Neck Size</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>130750</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="measure">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="unit">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="in"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="sleeveLength">
        <xsd:annotation>
          <xsd:documentation>The distance from the shoulder to the bottom hem of the sleeve, measured in inches.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Sleeve Length</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>130875</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="measure">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="unit">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="in"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="inseam">
        <xsd:annotation>
          <xsd:documentation>For pants, the distance from the bottom of the leg to the seam in the crotch, measured in inches.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Inseam</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>130968</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="measure">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="unit">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="in"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="isMadeFromRecycledMaterial">
        <xsd:annotation>
          <xsd:documentation>Indicates that the item is made from recycled materials.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Is Made From Recycled Material</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>131000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="recycledMaterialContent" type="wm:RecycledMaterialContent">
        <xsd:annotation>
          <xsd:documentation>If item contains reused/recycled material, the percentage of all recycled material used to produce the item. This can also include specific material composition; cushions made from 30% recycled cotton fabric. Used to highlight sustainability to the customer.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Recycled Material Content</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>132000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="personalizationType" type="wm:PersonalizationType">
        <xsd:annotation>
          <xsd:documentation>Describes the type of customization a customer can request on an item. For example, the personalization can be Engraved, Embroidered, 3D, etc.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Personalization Type</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>141000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="personalizationUrl">
        <xsd:annotation>
          <xsd:documentation>Enter the URL location of the personalization page where customers enter the relevant information, as provided by Walmart. You must be enrolled in the Personalized Products Platform in order to offer personalized products. URLs must begin with http:// or https://</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Personalization URL</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>142000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:anyURI"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="features" type="wm:AdditionalFeatures">
        <xsd:annotation>
          <xsd:documentation>List notable features of the item.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Additional Features</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>143000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="keywords">
        <xsd:annotation>
          <xsd:documentation>Words that people would use to search for this item. Keywords can include synonyms and related terms.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Keywords</wm:displayName>
            <wm:group>Nice to Have</wm:group>
            <wm:rank>144000</wm:rank>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>
